# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
dist
dist-ssr
coverage
*.local

/front/node_modules
/server/node_modules
/front/cypress/videos/
/front/cypress/screenshots/
/server/certs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.mp4

*.env
*.env.dev
