body {
  #line-demo {
    display: inline-block;
    vertical-align: top;
    width: 50rem;
    g.dxc-series:nth-child(2) .dxc-elements {
      stroke: rgb(255, 230, 0);
      stroke-width: 2;
    }
  }

  .tooltip-header {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #c5c5c5;
  }
  .tooltip-body {
    display: inline-block;
    font-family: 'suit';
    opacity: 0.6;
    line-height: 1.5;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    width: 150px;
  }

  #grid-demo {
    width: 50rem;
  }

  #spider-demo {
    width: 50rem;
  }

  #bar_chart {
    height: 436px;
    width: 660px;
  }

  #pie_chart {
    height: 414px;
    width: 400px;
    g.dxc-series-group g.dxc-markers {
      path:nth-child(1) {
        fill: #d9745f;
      }
      path:nth-child(2) {
        fill: #d9895f;
      }
      path:nth-child(3) {
        fill: #e69b50;
      }
      path:nth-child(4) {
        fill: #e9b150;
      }
      path:nth-child(5) {
        fill: #f3c848;
      }
      path:nth-child(6) {
        fill: #d1cead;
      }
      path:nth-child(7) {
        fill: #e8e5d3;
      }
      path:nth-child(8) {
        fill: #c0d4c2;
      }
      path:nth-child(9) {
        fill: #97afac;
      }
      path:nth-child(10) {
        fill: #a29183;
      }
    }
    g.dxc-item {
      g:nth-child(1) > .dxl-marker rect {
        fill: #d9745f;
      }
      g:nth-child(2) > .dxl-marker rect {
        fill: #d9895f;
      }
      g:nth-child(3) > .dxl-marker rect {
        fill: #e69b50;
      }
      g:nth-child(4) > .dxl-marker rect {
        fill: #e9b150;
      }
      g:nth-child(5) > .dxl-marker rect {
        fill: #f3c848;
      }
      g:nth-child(6) > .dxl-marker rect {
        fill: #d1cead;
      }
      g:nth-child(7) > .dxl-marker rect {
        fill: #e8e5d3;
      }
      g:nth-child(8) > .dxl-marker rect {
        fill: #c0d4c2;
      }
    }
  }
}
