body {
  .page-top {
    .dx-selectbox {
      border: none;
    }
  }

  .select-wrap.search-select {
    width: 120px;
    .dx-selectbox {
      height: 45px;
    }
  }

  .option-item__data {
    .dx-selectbox {
      height: 50px;
      border: none;
      background-color: transparent !important;
    }
  }

  .dx-selectbox {
    .dx-dropdowneditor-icon {
      background-color: transparent !important;
    }
  }

  .option-list {
    .dx-selectbox {
      height: 50px;
      margin-bottom: 5px;
    }
    .dx-dropdownbox {
      height: 50px;
      margin-bottom: 5px;
    }
  }

  #line-demo {
    display: inline-block;
    vertical-align: top;
    width: 50rem;
    g.dxc-series:nth-child(2) .dxc-elements {
      stroke: rgb(255, 230, 0);
      stroke-width: 2;
    }
  }

  .tooltip-header {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #c5c5c5;
    color: #000;
  }
  .tooltip-body {
    display: inline-block;
    font-family: 'suit';
    opacity: 0.6;
    line-height: 1.5;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    width: 150px;
  }

  #grid-demo {
    width: 50rem;
  }

  #spider-demo {
    width: 50rem;
  }

  /* StoryLine */
  .storyline__chart {
    #bar_chart {
      height: 400px;
      width: 660px;
    }
    #line_chart {
      height: 400px;
      width: 900px;
    }
  }

  /* DashBoard */
  .dashboard {
    #pie_chart {
      height: 414px;
      width: 660px;
    }
    #bar_chart {
      height: 336px;
      width: 660px;
    }
    #stackedBar_chart {
      height: 320px;
      width: 400px;
    }
    #polygonalLine_chart {
      height: 320px;
      width: 400px;
    }
  }

  /* Scope 1/2 */
  .scope_1_2 {
    #stackedBar_chart {
      height: 390px;
      width: 660px;
    }

    #doughnut_chart {
      height: 390px;
      width: 660px;
    }
  }
}
